__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.git/
.gitignore
.DS_Store
runs/
output_videos/
*.mp4
*.avi
data/
notebooks/
.ipynb_checkpoints/
*.ipynb
TestVideos/
TestVideoNew/
static/
